---
---

// Fonts and definitions

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans");

$font-size-base: 1.05rem;
$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-monospace: "IBM Plex Mono", monospace;

$purple: #782b90;
$link-color: $purple;

// Bootstrap

@import "custom";

// My stuff

code {
  color: $purple;
}

.bg-purple {
    background-color: $purple;
}

@mixin color-margin($color) {
    border-left: solid 0.25em $color;
    padding: 0.5em;
    padding-left: 1em;
    background-color: $gray-100;
    border-radius: 0.5em;
    box-shadow: $box-shadow-sm;
}

pre {
    @include color-margin($purple);
}

.title {
    color: $purple;
    font-weight: bold;
    font-style: italic;
    line-height: 1.4;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.admonitionblock {
    @include color-margin($purple);
    margin-bottom: 1em;
    div {
        margin: 0;
    }
    td.icon {
      vertical-align: top;
      padding-right: 0.5em;
      .title {
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        &:after {
          content: ' / ';
        }
      }
    }
    td.content {
      p {
        margin: 0;
      }
    }
  }
