{% include header.html %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-purple mb-4 shadow-sm">
  <a class="navbar-brand" href="#">
    <img src="assets/images/vertx-square.svg" alt="Vert.x" width="40" height="40">
    &nbsp; Eclipse Vert.x how-to
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://vertx.io/docs/"><i class="fas fa-lg fa-drafting-compass"></i> Vert.x docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/{{ page.github }}"><i class="fab fa-lg fa-github"></i> Source
          code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/{{ page.github }}/edit/master/README.adoc"><i
            class="far fa-lg fa-edit"></i>
          Edit this</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <p><small>Last published: {{ site.time }}.</small></p>
    </div>
  </div>
</div>

<script>
  (function () {
    const blocks = document.getElementsByClassName("collapsed");
    for (let i = 0; i < blocks.length; i++) {
      const block = blocks[i];
      const blockWrapper = document.createElement("div");
      const details = document.createElement("details");
      const summary = document.createElement("summary");
      summary.innerHTML = "Details <em>(click to expand)</em>";
      details.appendChild(summary);
      details.appendChild(blockWrapper);
      block.parentNode.insertBefore(details, block);
      blockWrapper.appendChild(block);
    }
  })();
</script>

{% include footer.html %}